
/***************MOBILE****************/

/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn{
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #0084fd;
    color: white;
    display: inline-block;
    text-align: center;
}

.container{
    padding: 50px 50px;
}

.green{
    color: #54c688;
}


/* HEADER*/

.cont-header{
    background-color: #0084fd;
    padding: 20px 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo{
    width: 100px;
    height: 30px;
    background-color: white;
}
.menu-container button{
    color: white;
    border: 0;
    background-color: transparent;
}
.icon{
    padding: 0 56px;
}
/* / HEADER*/

/* MAIN */

/* DEMO-APP*/

.demo-app{
    background-color: #b9dbfe;
    border-radius: 10px;
    padding: 10px 57px 0;
}
.demo-app .btn{
    height: 41px;
    width: 170px;
}
.demo-app > *{
    margin: 15px 0px;
}

.demo-app h2, .demo-app p{
    color: #1d7bdd;
}

.img-demo{
    height: 350px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}

.demo-app{
    background-color: #b9dbfe;
    border-radius: 10px;
    padding: 10px 57px 0;
}

/* / DEMO-APP*/

/* CLEAN-CODE*/
.clean-code{
    padding: 10px 57px 0;
}

.clean-code{
    background-color: #caf0db;
    border-radius: 10px;
    padding: 10px 57px 5px;
}

.clean-code > *{
    margin: 15px 0px;
}

.clean-code h2, .clean-code p{
    color: #61bb95;
}


/* / CLEAN-CODE*/


/* / MAIN */