
/***************MOBILE****************/

/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn{
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #0084fd;
    color: white;
    display: inline-block;
    text-align: center;
}

.container{
    padding: 50px 50px;
}

h1{
    font-size: 3rem;
}

h2{
    font-weight: bolder;
}
/* HEADER*/

.cont-header{
    background-color: #0084fd;
    padding: 20px 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo{
    width: 100px;
    height: 30px;
    background-color: white;
}
.menu-container button{
    color: white;
    border: 0;
    background-color: transparent;
}
.icon{
    padding: 0 56px;
}
/* / HEADER*/

/* MAIN */

/* DEMO-APP*/

.demo-app{
    background-color: #b9dbfe;
    border-radius: 10px;
    padding: 10px 57px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.demo-app .btn{
    height: 41px;
    width: 170px;
}
.demo-app > *{
    margin: 15px 0px;
}

.demo-app h2, .demo-app p{
    color: #1d7bdd;
}

.img-demo{
    height: 350px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}

/* / DEMO-APP*/

/* CLEAN-CODE*/

.clean-code{
    background-color: #caf0db;
    border-radius: 10px;
    padding: 10px 57px 5px;
    margin-bottom:25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clean-code > *{
    margin: 15px 0px;
}

.clean-code h2, .clean-code p, .green{
    color: #61bb95;
}
/* / CLEAN-CODE*/

/* WEB-DESIGN */

.web-design{
    background-color: #fed2d1;
    border-radius: 10px;
    padding: 10px 57px 5px;
    margin-bottom:25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.web-design > *{
    margin: 15px 0px;
}

.web-design h2, .web-design p, .pink{
    color: #fd8b93;
}

/* / WEB-DESIGN */
/* DEVELOPMENT */

.development{
    background-color: #ffe7c3;
    border-radius: 10px;
    padding: 10px 57px 5px;
    margin-bottom:25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.development > *{
    margin: 15px 0px;
}

.development h2, .development p, .yellow{
    color: #fec166;
}
/* / DEVELOPMENT */
/* BRANDING */

.branding{
    background-color: #d5d4f4;
    border-radius: 10px;
    padding: 10px 57px 5px;
    margin-bottom:25px;
}

.branding > *{
    margin: 15px 0px;
}

.branding h2, .branding p, .violet{
    color: #9e99dc;
}
/* / BRANDING */
.text-demo-section{
    text-align: center;
    display: block;
}

/* planning-section */

.planning-section{
    background-color: #9692e6;
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planning-section > *{
    margin: 20px 20px;
}

.planning-section h2, .planning-section p{
    color: white;
}
.img-first-planning{
    background-color: #bdb5ee;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.img-second-planning{
    height: 407px;
    width: 320px;
    background-color: white;
    border-radius: 10px;
}
/* / planning-section */

/* partners-section */

.partners-content{
    padding: 50px 20px;
}
.partners-section{
    border-radius: 10px;
    padding: 10px 57px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.partners-section > *{
    margin: 15px 0px;
}

.partners-section h2{
    color: #9894d8;
}
/* / partners-section */

/* profile-content */

#profile-content > *{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.first-profile >*, .second-profile > *, .third-profile > * {
    margin: 15px 20px;
}
.first-profile{
    background-color:#ffbfbf ;
    border-radius: 10px;
    
}
.second-profile{
    background-color:#feddaa ;
    border-radius: 10px;
}

.third-profile{
    background-color:#b2e9ca ;
    border-radius: 10px;
}


.img-profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}

/* / partners-section */

/* benefit-content */
.benefit-content{
    background-color: #9692e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 35px;
}

.benefit-content > *{
    margin: 20px 20px;
}
.benefit-content h2{
    color: white;
}
/* / benefit-content */

/* / benefit-section */

.benefit-section h1, .benefit-section h2, .benefit-section p {
    color: #9796d1;
}

.benefit-section .btn{
    background-color: #9796d1;
    width: 100px;
}
.fbenefit > *, .sbenefit > *, .tbenefit > *, .fourbenefit > *, .fivebenefit > *, .sixbenefit > *{
    margin: 15px 20px;
    padding: 14px 0px;
}

.fbenefit, .sbenefit, .tbenefit, .fourbenefit, .fivebenefit, .sixbenefit{
    background-color: white;
    border-radius: 10px;
}
/* / benefit-section */

/* about-us-content */

.about-us-content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-us-content > *{
    margin: 15px 0px;
}

.about-us-content h2, .about-us-content h3{
    color: #9491d0;
}

.about-us-content p{
    line-height: 2rem;
}

.about-us-content .img-profile{
    background-color: #b8bab9;
}

.about-us-content .btn{
    background-color: #9692e6;
}


/* / about-us-content */


/* / MAIN */


